[submodule "libs/Discord.Net-Labs"]
	path = libs/Discord.Net-Labs
	url = https://github.com/Discord-Net-Labs/Discord.Net-Labs.git
[submodule "libs/kos-api"]
	path = libs/kos-api
	url = https://github.com/ctu-fee-group/kos-api.git
[submodule "libs/usermap-api"]
	path = libs/usermap-api
	url = https://github.com/ctu-fee-group/usermap-api.git
[submodule "libs/discord-net-interactions"]
	path = libs/discord-net-interactions
	url = https://github.com/ctu-fee-group/discord-net-interactions.git
